<div class="container-fluid mt-5 about-style " id="seviveid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Srevice</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                              <h4>secttings</h4>
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, nobis.</p>
                        </div>
                    </div>
                </div>
                  <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                              <h4>secttings</h4>
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, nobis.</p>
                        </div>
                    </div>
                </div>
                  <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                              <h4>secttings</h4>
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, nobis.</p>
                        </div>
                    </div>
                </div>
                  <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                              <h4>secttings</h4>
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, nobis.</p>
                        </div>
                    </div>
                </div>
                  <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                              <h4>secttings</h4>
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, nobis.</p>
                        </div>
                    </div>
                </div>
                  <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                              <h4>secttings</h4>
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, nobis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>